.recent-buyers-card .collection {
    padding-right: 0 !important;
}

.recent-buyers-card .collection .collection-item {
    padding-left: initial;
    padding-right: 55px;
}

.recent-buyers-card .collection .collection-item.avatar:not(.circle-clipper) > .circle {
    left: initial;
    right: 0;
}

.recent-buyers-card .collection .collection-item.avatar .secondary-content {
    right: initial;
    left: 0;
}

.subscriber-list-card table td:first-child,
.subscriber-list-card table th:first-child {
    padding: 15px 25px 15px 5px;
}

.subscriber-list-card table td:last-child,
.subscriber-list-card table th:last-child {
    padding: 15px 5px 15px 25px;
}
