.main {



}

.headerm {

    background-color: #932210 !important;


}


.content{

    min-height: 500px;
    background-color: snow;



}

.footer{

    height: 65px;
    background-color: steelblue;



}


.dd{


    background-color: #81c784;
}

.logo-bg{

    background-color: #F9BF3B;

    width: 85px;
    height: 80px;

    border-radius: 0px 0px 10px 10px;


}

.mini-menu{

    background-color: #f4eee5;
    width: 100% !important;
    height: 65px;

}

.nav-links{

    width: 300px !important;


}